body {
  font-family: sans-serif;
  font-size: 2rem;
  height: 98%;
  line-height: 1.4;
  margin: auto;
  width: 70%;
}

div {
  box-shadow: 10px 10px 5px #888888;
}

p {
  margin: 5px;
}

#deck {
  height: 20%;
  background-color: #123456;
}
#targets {
  height: 20%;
  background-color: #654321;
}
#modifiers {
  height: 20%;
  background-color: #1a1a1a;
}

#results {
  height: 20%;
  background-color: #666666;
}
