body {
  height: 98%;
  width: 50%;
  margin: auto;
}

div {
  overflow: auto;
  margin: 10px 0 10px 0;
}

p, input {
  margin: 5px;
  font-family: sans-serif;
  font-size: 2rem;
}

p {
  line-height: 75px;
}

button {
  display: block;
  margin: auto;
}
input {
  float: right;
  line-height: 60px;
  width: 20%;
}

#deck {
  background-color: #581845;
}
#targets {
  background-color: #900C3F;
}
#modifiers {
  background-color: #C70039;
}
#results {
  background-color: #FF5733;
}
