body {
  height: 98%;
  width: 50%;
  margin: auto;
}

div:not(#targetP) {
  box-shadow: 10px 10px 5px #888888;
}

div {
  overflow: auto;
}

p, input {
  margin: 5px;
  font-family: sans-serif;
  font-size: 2rem;
}

p {
  line-height: 75px;
}

button {
  display: block;
  margin: auto;
}
input {
  float: right;
  line-height: 60px;
  width: 20%;
}

#deck {
  background-color: #123456;
}
#targets {
  background-color: #654321;
}
#modifiers {
  background-color: #1f6419;
}
#results {
  background-color: #666666;
}
